.input{
    padding: 1rem;
    color: #888888;
    font-family: Satoshi;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 2.5rem;
    border: solid 1px #888888;
}