.Tabs {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: flex-start;
}

.Tab {
    padding: 1.6rem 2.4rem;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all .15s;
}

.Tab__selected {
    border-bottom: 1px solid blue;
}

.Tab__selected:hover {
    background-color: #DEDEDE;
}
.TabLabel {
    color: #6A62B7;
    font-family: Satoshi sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}