.input {
    width: 100% !important;
    color: #888;
    font-family: Satoshi;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dropdown {
    border-radius: 3rem 0 0 3rem;
}