.intro {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70rem;
    padding: 13rem 0;
}

.prev {
    display: flex;
    flex-direction: row;
    gap: 3rem;

    color: #f0f0f0;
    font-family: Satoshi;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    background-color: transparent;
    border: none;
    cursor: pointer;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    padding-bottom: 4rem;
}

.paragraph {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    font-family: Satoshi;
    font-size: 1.8rem;
}

.buttonModal {
    color: #FFF;

    font-family: Satoshi;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}